# Зависимости для программы "Бухгалтерия"
# 
# Интересный пакет для создания красивых CLI приложений
click==8.1.7

# Дополнительные пакеты для расширения функциональности
colorama==0.4.6    # Для цветного вывода в консоли
tabulate==0.9.0    # Для красивого форматирования таблиц
python-dateutil==2.9.0  # Расширенная работа с датами
rich==13.7.1       # Для красивого форматирования вывода в терминале